
.img-circle {
    border-radius: 50%;
}

.img-title {
    display: block;
    margin: auto;
    height: 25em;
    width: auto; 
}

.content h3.title.clump {
    margin-bottom: unset;
}

.content h4.subtitle.clump {
    margin: 0em 0em 0em 0em;
    color: black;
}

.content article {
    margin: 2em 0em 0em 0em;
}


/* Reduce the */
.section {
    padding: 20px 20px;
}
