
.img-circle {
    border-radius: 50%;
}

.img-title {
    display: block;
    margin: auto;
    height: 25em;
    width: auto; 
}

/* add a very specific class to remove the margin on articles in lists */
.content h1.subtitle,
.content h2.subtitle,
.content h3.subtitle,
.content h4.subtitle,
.content h5.subtitle {
    margin: unset;
    color: black;
}

/* Reduce the */
.section {
    padding: 20px 20px;
}
