@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Tangerine');

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 150%;
    font-
}

p {
    font-size: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tangerine', serif;
}


.title, .title.is-3 code, .title.is-4 {
    font-size: 150%;
}

.subtitle, .subtitle.is-6 {
    font-size: 100%;
}
