{{ partial "header" . }}
<body>
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    
    {{partial "banner" . }}
    <div class="content">
      <h1 class="title">{{ .Title }}</h1>
      {{ .Content }}

      {{ range where .Sections "Section" "!=" "personal" }}

      <!-- A Hack to get the correct formatting -->
      <h2>
        <a href="{{ .Permalink }}">
          <h2>{{ .Title }}</h2>
        </a>
      </h2>
      
      {{ partial "summary" . }}
      
      {{ range first 5 .Data.Pages }}
      {{ partial "page-listing" . }}
      {{ end }}

      {{ if gt (len .Data.Pages) 5 }}
      <article>
      <h3 class="title is-5">
        <a href="{{ .Permalink }}">
          All {{ .Title }}
        </a>
      </h3>
      </article>
      {{ end }}
      {{ end }}
      
    </div>
  </div>
</section>
{{ partial "footer" . }}
